# Gradle
.gradle
build/

captures/

/local.properties
/secrets.properties

# IntelliJ .idea folder
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
*.iml

# General
.DS_Store
.externalNativeBuild
.cxx
